@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --fxpurple: #660099;
    --fxorange: #ff6600;
    --fxwhite: #fafafa;
    --fxgrey: #696969;
    --fxlightgrey: #DCDCDC;
    --fxgreen: #228B22;
    --fxred: #DC143C
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}
body{
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.2;
}
#header{
    padding: .3rem;
    background-color: var(--fxpurple);
    color: var(--fxwhite);
}
.Header-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
}
.Nav-menu{
    position: fixed;
    right:100%;
    top: 11rem;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    background-color: var(--fxwhite);
}
.Nav-menu a{
    text-decoration: none;
    color: var(--fxgrey);
    font-size: 2rem;
}
.Nav-menu.active {
    left: 0;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--fxwhite);
}
.Nav-item{
    margin: 2.5rem 0;
}
.hamburger{
    display: block;
    cursor: pointer;
}
.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}
.bar{
    display: block;
    width: 2.5rem;
    height: .2rem;
    margin: 1rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--fxwhite);
}
.Header-logo{
    max-height: 2.5rem;
    margin: 2rem;
}
.Nav-icons{
    display: flex;
    flex-direction: row;
}
.Nav-user, .hamburger{
    height: 5rem;
    padding-left: 1em;
    padding-right: 1rem;
}
.Nav-search{
    display: none;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
}
.hero-image{
    display: none;
}
.space{
    height: 2.5rem;
}
.title{
    font-weight: 300;
    text-align: center;

}
.title-p{
    padding: 2rem;
}
.tracking{
    position: relative;
}
select.track-menu-info{
    width: 800px;
    height: 5rem;
    border: none;
    background-color: var(--fxlightgrey);
    padding-left: 2rem ;
}
.title-opt{
    margin-top: 2rem;
    font-weight: 300;
    text-align: center;
}
.options-single{
    margin: 2rem 0;
}
.title-opt-p{
    text-align: justify;
    font-weight: 300;
    margin: 0 1rem;
    font-size: 1.8rem;
}
.options-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.Footer-social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.fx-sm-ico{
    height: 4rem;
}
.extra-info-inner{
    margin-top: 1rem;
    padding-top: 2rem;
}
.extra-info{
    line-height: 1.3;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}
.text-fx{
    font-weight: bold;
    font-size: 2rem;
    color: var(--fxpurple);
    text-transform: uppercase;
    margin-left: 2rem;
}
.text-link{
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--fxgrey);
    margin-left: 2rem;
}
.texto-fx{
    color: var(--fxpurple);
    text-transform: uppercase;
    font-weight: bold;
}
.Footer-copyright{
    background-color: var(--fxpurple);
    color: var(--fxwhite);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
footer{
    margin-top: 3rem;
}
.site-nav{
    margin-top: 1rem;
}
.site-nav-tx{
    padding-left: 1rem;
    padding-right: 1rem;
}
.globe{
    height: 3rem;
    margin-left: 2rem;
    opacity: 50%;
    margin-top: 1rem;
}
figure{
    display: flex;
    align-items: center;
}
.btn-chat{
    border: none;
    display: block;
    width: 10rem;
    height: 5rem;
    padding: 0;
    text-transform: uppercase;
    font-size: 1.4rem;
    background-color: var(--fxpurple);
    color: var(--fxwhite);
    border-radius: 1rem;
    opacity: .8;
}
.btn-info, .btn-danger {
    border: none;
    display: block;
    width: 100%;
    height: 3rem;
    padding: 0;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 1rem;
    opacity: 0.8;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.btn-info{
    background-color: var(--fxgreen);
    color: var(--fxwhite);
}
.btn-danger{
    background-color: var(--fxred);
    color: var(--fxwhite);
}
.btn-info:hover, 
.btn-danger:hover,
.btn-chat:hover {
    opacity: 1;
}
.chat-buttons{
    margin-left: 1rem;
    margin-right: 1rem;
}
#chatbox{
    display: none;
    background-color: var(--fxlightgrey);
    width: 300px;
}
.title-chat{
    font-weight: 300;
    font-size: 1.4rem;
    background-color: var(--fxorange);
    width: 100%;
    height: 3rem;
    color: var(--fxwhite);
    text-align: center;
    padding-top: .5rem;
    padding-bottom: 1rem;
}
.form-container{
    padding: 30px;
    background: var(--fxwhite);
}
textarea{
    width: 100%;
    min-height: 20rem;
    border: none;
    resize: none;
    padding: 3rem;
    font-size: 1.5rem;
}
textarea:focus{
    outline: none;
}
select.lang-menu-select{
    width: 300px;
    height: 5rem;
    border: none;
    background-color: var(--fxlightgrey);
    padding-left: 2rem ;
}
@media screen and (min-width:768px){
    #header{
        padding: .5rem;
    }
    .Header-logo{
        max-height: 3rem;
    }
    .Nav-search{
        display: flex;
        height: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .hero-image{
        display: block;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/src/sources/images/hero.jpg");
        height: 40rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .hero-text{
        display: flex;
        flex-direction: column;
        text-align: left;
        color: var(--fxwhite);
        margin-top: 200px;
        font-weight: lighter;
        padding: 0 3rem;
    }
    .hero-text h1{
        font-weight: lighter; 
    }
    .options-wrapper{
        display: grid;
        grid-template-columns: 300px 300px 300px;
        margin-top: 3rem;
    }
    .extra-info{
        line-height: 1.3;
        display: grid;
        grid-template-columns: auto auto auto;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .text-fx, 
    .text-link{
        font-size: 1.4rem;
    }
    ul{
        list-style-type: none;
    }
    .title-opt-p{
        font-size: 1.4rem;
    }
    .advanced{
        margin: 0;
    }
    .options-pic{
        height: 155px;
    }
}
@media screen and (min-width:1024px){
    #header{
        padding: 1rem;
    }
    .Header-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1rem;
    }
    .Header-logo{
        max-height: 4rem;
    }
    .Nav-menu{
        position: inherit;
        top:0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 3rem;
        box-shadow: none;
        background-color: var(--fxpurple);
    }
    .Nav-item {
        margin: 1rem 0;
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .Nav-link{
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 4rem;
        text-transform: uppercase;
    }
    .Nav-menu li{
        list-style: none;
        font-size: 1rem;
        font-weight: 400;
    }
    .Nav-menu a{
        text-decoration: none;
        color: var(--fxwhite);
    }
    .hamburger{
        display: none;
    }
    #content{
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    .hero-image{
        width: 100vw;
    }
    .Footer-copyright{
        height: auto;
        padding: 2rem 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .client-service, .language{
        margin-top: 0;
        padding-top: 0;
    }
    .text-fx, 
    .text-link{
        font-size: 1.2rem;
    }
    ul{
        list-style-type: none;
    }
    .texto-fx{
        font-weight: bold;
        font-size: 1rem;
    }
}