@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --fxpurple: #660099;
    --fxorange: #ff6600;
    --fxwhite: #fafafa;
    --fxgrey: #696969;
    --fxlightgrey: #DCDCDC;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}
body{
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
#header{
    padding: .3rem;
    background-color: var(--fxpurple);
    color: var(--fxwhite);
}
.Header-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
}
.Nav-menu{
    position: fixed;
    right:100%;
    top: 11rem;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    background-color: var(--fxwhite);
}
.Nav-menu a{
    text-decoration: none;
    color: var(--fxgrey);
    font-size: 2rem;
}
.Nav-menu.active {
    left: 0;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
}
.Nav-item{
    margin: 2.5rem 0;
}
.hamburger{
    display: block;
    cursor: pointer;
}
.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}
.bar{
    display: block;
    width: 2.5rem;
    height: .2rem;
    margin: 1rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--fxwhite);
}
.Header-logo{
    max-height: 2.5rem;
    margin: 2rem;
}
.Nav-icons{
    display: flex;
    flex-direction: row;
}
.Nav-user, .hamburger{
    height: 5rem;
    padding-left: 1rem;
}
.Nav-search{
    display: none;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
}
.spacer{
    height: 2.5rem;
}
.title{
    font-weight: 300;
    text-align: center;
}
.title-p{
    padding: 2rem;
}
.tracking{
    position: relative;
}
select{
    width: 800px;
    height: 5rem;
    border: none;
    background-color: var(--fxlightgrey);
}
.Footer-social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.fx-sm-ico{
    height: 4rem;
}
.extra-info{
    margin-top: 4rem;
}
.text-fx{
    font-weight: bold;
    font-size: 2.5rem;
    color: var(--fxpurple);
    text-transform: uppercase;
    margin-left: 2rem;
}
.text-link{
    text-decoration: none;
    font-size: 2rem;
    color: var(--fxgrey);
    margin-left: 2rem;
}
.texto-fx{
    color: var(--fxpurple);
    text-transform: uppercase;
}
.Footer-copyright{
    background-color: var(--fxpurple);
    color: var(--fxwhite);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}