*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --fxpurple: #660099;
    --fxorange: #ff6600;
    --fxwhite: #fafafa;
}
html{
    font-size: 62.5%;
    width: 100vw;
}
body{
    font-size: 1.3rem;
    font-family: 'Roboto';
}
#header{
    background-color: var(--fxpurple);
    color: var(--fxwhite);
}
#content{
    background-color: aqua;
}
.Footer-copyright{
    background-color: var(--fxpurple);
    color: var(--fxwhite);
}