#header{
    padding: .5rem;
}
.Header-logo{
    max-height: 3rem;
}
.Nav-search{
    display: flex;
    height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.hero-image{
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/hero.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--fxwhite);
    margin-top: 200px;
    font-weight: lighter;
    padding: 0 3rem;
}
.hero-text h1{
    font-weight: lighter; 
}
.options-wrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 3rem;
}
.advanced{
    margin: 0;
}
.options-pic{
    height: 155px;
}

